header {
  background-color: #fff;
  padding: 1em 2em 1em 2em;
  border-bottom: 2px solid #97939A;
}

h1 {
  color: #2A2B2E;
  font-family: 'Roboto Slab', 'serif';
  font-size: 32;
  margin: 0;
  font-weight: 500;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; 
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}

[hidden] {
  display: none;
}
